@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap%27');

*{
    padding: 0;
    margin: 0;
    font-family: 'Rambla', sans-serif;
}

html, body {
    box-sizing: border-box;
} 

/* ++++++++ ICI JE SUIS UN NAVBAR ++++++++++++++++++++++++++++++++++++++ */

 nav {
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;  
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;   
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}
/* =================Fin NAVBAR ============================= */
section {
    display:flex;
}
aside {
    height:88vh;
    width:30vw;
}
#calculate {
    height:88vh;
    width:30vw;
}
article {
    width:70vw;
    height: 88vh;
    background-color: #44566C;  
}
#title{
    text-align: center;
    color:white;
    font-size:2em;
    margin-top:2vh;
}

.containerForm {
    display:flex;
    justify-content: center;
    align-items: center;
    width:70vw;
    height:60vh;
    margin-top:7vh;
}
#one {
    width:53vw;
}

#container2 {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    width:30vw;
    color:white;
}
#two {
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    height:60vh;
    width:22em;
    background-color: #848D98;
    
}
span {
    font-size:3em;
    color:white;

}
form {
    display:flex;
    justify-content: space-around;
    align-items:center; 
    flex-direction:column;
    height: 60vh;

}
label {
    font-size:1.25em;
    color:white;
    text-align:left;
}
input {  
    background-color: #C4C4C4;
    width: 35em;
    height: 2.5em;
    border: none; 
    background: none;
    border-bottom:white 2px solid;
    border-radius:0,4em;
    color:white;
    
}

footer {
    height:9.4em;
    width:100vw;
    background-color: black;
}
button{
    background-color: #1B2A3D;
    width: 16.7em;
    height: 3em;
    border: none;
    color:white;
    font-size:1.75em;
    border-radius:.5em;
}
::placeholder {
    color: white;
    font-size: 2em;
    text-align:right;
  }

@media screen and (max-width:800px) {

}