@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap%27');

*{
    padding: 0;
    margin: 0;
    font-family: 'Rambla', sans-serif;
}

html, body {
    box-sizing: border-box;
    overflow: hidden;
} 

/* ++++++++ ICI JE SUIS UN NAVBAR ++++++++++++++++++++++++++++++++++++++ */

 nav {
    position: relative;
    width: auto;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;  
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;   
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}
/* =================Fin NAVBAR ============================= */
section {
    display:flex;
    width:100%;
    background-color: #44566C; ;  
}
#photo {
    height:75vh;
    width:30%;
    
}
#calculate {
    height:75vh;
    width:100%;
}
#calcule {
    width:70%;
    height: 75vh;
    
    background-color: #44566C;  
}
h3{
    text-align: center;
    color:white;
    font-size:2rem;
    margin-top:2vh;
    letter-spacing: 2px;
}

.containerCalcul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:50vh;
    padding-top:5vh;
}
/* ++++++++++++++++++++++ DEBUT FORMULAIRE +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

form {
    display:flex; 
    justify-content:space-between;
    flex-direction:column; 
    height: 50vh; 
} 
label {
    font-size:1.25em;
    color:white;
}
input {  
    background-color: #C4C4C4;
    width:90%;
    font-size:1.25em;
    border: none; 
    background: none;
    border-bottom:white 2px solid;
    color:white;
    font-family: 'Rambla';
    padding-top:0.3em;
}
input[value] {
    padding-left:0.2em;
}
.containQuest {
    display:flex;
    flex-direction:row;
    width:100%;
}
.indic {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:10%;
    border-bottom:2px solid white;
    font-size:1.25em;
    color:white;
}
button{
    background-color: #1B2A3D;
    width: 16.7em;
    height: 2.5em;
    border: none;
    color:white;
    font-size:1.75em;
    cursor: pointer;
}
/* ++++++++++++++++++++++ FIN FORMULAIRE +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#containerResult {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-justify: auto;
    width:30vw;
    color:white;  
}
#result {
    display:flex;
    font-weight: bold;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    height:50vh;
    width:25vw;
    /* margin-left:10vw; */
    background-color: #848D98;
    padding: 0 2em 0 2em;
    
}
#result2 {
    letter-spacing: 0.1em;
    font-size:3em;
}
#flex {
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 4px solid white; 
    width:13em;
}
h4 {
    font-size: 1.25em;
    letter-spacing: .05em;
}

#containerResult #result p {
    text-align: center;
}
