@import url("https://fonts.googleapis.com/css?family=Rambla&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Rambla", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: calc(100vh - 12vh - 13vh);
  background-color: #44566c;
}

section {
  width: 100vw;
  display: flex;
  flex-flow: row;
}

.img-left {
  width: 30vw;
  height: calc(100vh - 12vh - 13vh);
  background-image: url(../assets/images/contact/phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-left img {
  width: 30vw;
}

.info-contact {
  width: 70vw;
  height: calc(90vh - 12vh - 13vh);
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 72f91f4f97de2e4134ae96c1b9a6d41164718ec8
nav {
        position: relative;
        width: auto;
        height: 12vh;
        display: flex;
        flex-flow: row;
        align-items: center;
        
    }
    
    nav #logo {
        width: 50%;
    }
    
    nav img {
        width: 15em;
        margin-left: 3em;
    }
    
    #menu {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 3em;
    }
    
    ul {
        display: flex;
        flex-flow: row;
        text-decoration: none;
        
       
        
    }
    li {
        font-family: 'Rambla', sans-serif;
        color: #2F435E;
        list-style: none;  
    }
    
    a {
        text-decoration: none;
        color: #2F435E;
        display: flex;
        align-items: center;
    }
    
    ul li a img {
        width: 1rem;
        padding-right: .5em;
    }
    /**************************** main ***************************** */

    main{
        height: 75vh;
        width: auto;
    }
section{ 
        position:relative;
        width: 100%;
	    height: 100%;
	   display:flex;
	   flex-direction: row;
	 
        }
.image{ width: 40vw;
          
    }
 .photo{ 
 		  width:100%; 
         height:100%;
         margin-top: 0%;
         margin-bottom: 0%;
         
         }
.entete{ 
  align-items: left;
  flex-direction: column;
}
.champs2 {
  width: 23vw;
  display: flex;
  align-items: left;
  flex-direction: column;
<<<<<<< HEAD
=======

label {
  color: white;
>>>>>>> dc26c0da7f7679a9c39b5f061fcd5aefb8ac95ab
=======


label {
  color: white;

>>>>>>> 72f91f4f97de2e4134ae96c1b9a6d41164718ec8
}

.lineOne {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  border: none;
  font-size: 1rem;
  background-color: #c4c4c4;
}

input[type="submit"] {
  width: 34vw;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #1b2a3d;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

textarea {
  width: 33vw;
  height: 20vh;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #c4c4c4;
  font-size: 1rem;
  resize: none;
}

.nom,
.prenom,
.email,
.tel,
.msg {
  width: 15vw;
  margin: 1rem;
  display: flex;
  flex-flow: column;
}

/* ==============STYLING TEXT DROITE=============== */

.txt {
  width: 20vw;
  height: calc(88vh - 12vh - 13vh);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

p,
h3 {
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  padding: .5rem;
}

.contain-info{
  display: flex;
  flex-flow: column;
  justify-content: space-around;

}
<<<<<<< HEAD
<<<<<<< HEAD
=======

.adresse p, .appel p{
    margin-left: 0.3vw;
    margin-top: 0.5vh;
}
>>>>>>> 72f91f4f97de2e4134ae96c1b9a6d41164718ec8
.appel img{
    width: 1vw;
    height: 3vh;
}
.zone-num{
    margin-top: 1vh;
    margin-left: 4vw;
}
.appel{
    display: flex;
    margin-top: 1vh;
    margin-left: 1vw; }
<<<<<<< HEAD
    
=======
>>>>>>> dc26c0da7f7679a9c39b5f061fcd5aefb8ac95ab
=======

>>>>>>> 72f91f4f97de2e4134ae96c1b9a6d41164718ec8

.contain-info p {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

.txt .guide { /*linkGuide CSS*/
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: #1b2a3d;
  width: 10vw;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}


.adresse-mail,
.phone {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.contain-info .adresse-mail img {
  width: 15%;
}

.contain-info .phone img {
  width: 15%;
}

/* **********************************Foot***************************** */

footer {
  width: auto;
  height: 12vh;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .liens-footer{
  width: 75%;
  display: flex;
  justify-content: left;
}

footer a {
  color: white;
  font-family: 'Rambla', sans-serif;
  font-size: 0.75rem;
  margin-left: 15rem;
  padding: .3rem;
  
}

footer #logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  align-self: center;
  width: 50%;
}


