@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* font-family: 'Rambla', sans-serif; */


*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Rambla', sans-serif;
    overflow-x: hidden;
}



main, section{
    width: 100vw;
}
section, article{
    background-color: #44566C;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-flow: column;
    padding: 1em;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

/*  cette partie est resérvée pour les tabs (onglets)*/

.tab {
    width: 70%;
    margin-top: 2em;
}

.tablinks {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.25em;
    width: 25%;
    height: 3em;
    color: white;
    background-color: rgb(21, 34, 51);
    margin: 0;
}

.tablinks:disabled{
      opacity: .3;
}

.tablinks.active {
    background-color: #44566C;
}

.tablinks:checked{
    background-color: #44566C;
}

  .tabcontent {
    display: none;
}

/*   fin tabs*/

/* ++++++++ Article 1  "introduction" qui contient les deux questions ++++++++++++++++++++++++++++++++++++++ */

article p{
    font-size: 1.5em;
    color: white;
}

/* la div qui contient le texte de LOANELY*/
.intro{
    width: 70%;
    background: #1B2A3D;
    padding: 3em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.intro p{
    text-align: center;
    font-size: 1.25em;
}

/* des class des boutons 'annuler', 'démarrer' et 'etape suivante et précédente'*/
.btn{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
}

.btn button {
    width: 15em;
    height: 3em;
    font-size: 1.25em;
    background-color: #1B2A3D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border: none;
}

#poursuivre{
    width: 15em;
    height: 3em;
    font-size: 1.25em;
    background-color: white;
    color: #1B2A3D;
    cursor:pointer;
    border: none;  
}

/* deux id des deux div des boutons 'annuler' et 'étape suivante'*/
#btn2, #btnIntro1, #btnIntro2{
    display: none;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++ la première et la deuxième question du formulaire ++++++++++++++++++++++++++++++++++++++ */
.question{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25em;
    color: white;
    margin-bottom: 1em;
    background-color: #1B2A3D;
    border: 1px solid white;
    box-sizing: border-box;
}

.question > div{
    width: 40%;
    display: flex;
 }

 .question > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.question div p{
    text-align: center;
    font-size: 1em;
}

.question input{
    margin-top: 1em;
    width: 1.5em;
    height: 1.5em;
    cursor:pointer;
}

.question div label {
    font-size: 1em;
    cursor:pointer;
    margin: 1em;
}

.question{
    display: none;
}

/* la div qui contient un message dans le cas où la promesse de vente n'est pas signée */
#ventSign{
    width: 70%;
    height: 10em;
    padding: 1em;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1B2A3D;
    display: none;
}

#ventSign p{
    text-align: center;
    font-size: 1.25em;
}


/* ++++++++++++++++++++++++++++le formulaire de la société ++++++++++++++++++++++++++++++++++++++++ */
#introduction form{
    display: none;
    border: 1px solid white;
    box-sizing: border-box;
    width: 70%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #1B2A3D;
}

#ouiImmat:checked #siret{
    opacity:1;
}


/* ++++++++ Article 2 --- ICI commence le formulaire à remplir // partie Emprunteur // +++++++++++++++++++++++++++++ */

#emprunteur form{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid white;
    padding: 1em;
}

/* id du formulaire emprunteur et société et les class dans le formulaire */
#divForm, #societe, #divForm .formClass, #divForm .infoPersonnel{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .1em;
}

/* cibler la div premier enfant */
#divForm div, #societe div, #divForm .formClass div, #divForm .infoPersonnel div, #divForm{
    width: 45%;
    display: flex;
    flex-flow: column;
}

/* cibler la div deuxième enfant */
#divForm div div, #societe div div{
    display: flex;
    flex-flow: row;
    width: 95%;
}

/* cibler la div troisème enfant */
#divForm div div div, #societe div div div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

/* styliser les class .formClass */
#divForm .formClass{
    display: none;
    margin-bottom: 1em;
    background-color: #1B2A3D;
    box-sizing: border-box;
}

label{
    color: #fff;
    font-size: 1.25em;
    margin-left: .5em;
}

input{
    background-color: #c4c4c485;
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1em;

    padding: 0.3em;
    color: #fff;
    font-size: 1.25em;
    box-sizing: border-box;
}

textarea{
    background-color: #c4c4c485;
    width: 100%;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1em;
    padding: 0.3em;
    color: #fff;
    font-size: 1.25em;
    box-sizing: border-box;  
    resize: none;
}

select{
    background-color: #c4c4c485;
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1em;
    padding: 0.3em;
    color: #fff;
    font-size: 1.25em;
    transition: .5s ease-in-out all;
}

select:hover{
    background: rgb(92, 79, 100);
}
input[type=date]{
    height: 2.5em;
}

option{
    background-color: #000000;
}

/* styliser les class .radioBtn pour les inputs radios */
#divForm .radioBtn{
    width: 100%;
    height: 3em;
    border:  1px solid white;
    margin-bottom: 1em;
    align-items: center;
    flex-flow: row;
    align-items: center;
    
}

#divForm .radioBtn div, #societe #immat div{
    width: 40%;
    flex-flow: row;
}

#divForm .radioBtn div div, #societe #immat div div{
    width: 40%;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

.radioBtn label, #appartLouer label{
    font-size: 1.25em;
    cursor:pointer;
    width: 60%;
}

.radioBtn input, #immat input, #appartLouer input{
    width: 1.5em;
    height: 1.5em;
    cursor:pointer; 
    margin: 0;       
} 

.radioBtn input:checked + label{
    font-weight: bolder;
}

/* deux boutons pour masquer et afficher les infos personnelles */
#hideBtn, #showBtn{
    height: 2em;
    color: white;
    font-size: 1em;
}

/* masquer des boutons et radios selon la condition */
#showBtn, #divForm #addLot, #divForm #unAutreBien{
    display: none;
}

#showHide, #lot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1B2A3D;
    margin-bottom: 1em;
}

h1{
    color: white;
    font-size: 3.75em;
    text-align: center;
}

h2{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}


/* ======================== PARTIE PROJET A FINANCER ARTICLE 3 =================================== */

#projet form{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid white;
    padding: 1em;
}

/* id du formulaire du projet */
#projeFinancer .formClass, #projeFinancer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .5em;
}

/* cibler la div 1er enfant */
#projeFinancer div, #projeFinancer .formClass div{
    width: 45%;
    display: flex;
    flex-flow: column;
}

/* cibler la div 2em enfant */ 
#projeFinancer div div, #projeFinancer .formClass div div{
    display: flex;
    flex-flow: row;
    width: 95%;
}

/* syliser les class .formClass */
#projeFinancer .formClass {
    display: none;
    margin-bottom: 1em;
    background-color: #1B2A3D;
    box-sizing: border-box;
}

/* styliser les radio bouton dans le formulaire du projet */
#projeFinancer .radioBtn {
    width: 100%;
    height: 3em;
    border:  1px solid white;
    margin-bottom: 1em;
    align-items: center;
    flex-flow: row;
    align-items: center;
    
}

#projeFinancer .radioBtn div{
    width: 40%;
    flex-flow: row;
}

#projeFinancer .radioBtn div div{
    width: 40%;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

/* masquer les question ajouter un bien et un lot */
#projeFinancer #addLot1, #projeFinancer #unAutreBien1{
    display: none;
}

#appartLouer label{
    font-size: 1.25em;
    cursor:pointer;
    width: 60%;
}

#appartLouer input{
    width: 1.5em;
    height: 1.5em;
    cursor:pointer; 
    margin: 0;       
} 

#projeFinancer #appartLouer div{
    width: 100%;
    justify-content: flex-end;
}

#projeFinancer #appartLouer div div{
    width: 20%;
}

/* si l'appart n'est pas loué */
.estimationLocative:nth-child(2){
    display: none;
}


/* ======================== FIN PARTIE PROJET A FINANCER ARTICLE 3 =============================== */
#piecejoint form{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid white;
    padding: 1em;
}

.blockJoint div{
    width: 48%;
    
}
/* ======================== PARTIE 4 PIECES JOINTES ==============================================*/

#tabs {
    width: 40vw;
    height: 30vh;
    margin: auto;
    display: flex;
    flex-flow: row;
    background-color: #44566C;
}

  /* Style tab inks */
.tablink {
    background-color: #848d98;
    margin: auto;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    cursor: pointer;
    width: 10vw;
    height: 20vh;
    font-family: "Rambla", sans-serif;
    font-size: 1.1rem;
}
  
.tablink img:nth-child(1) {
    width: 60%;
}
  
.tablink:nth-child(2) img {
    width: 70%;
}
  
.tablink:nth-child(3) img {
    width: 70%;
}
  
.tablink:hover {
    background-color: rgb(21, 34, 51);
}
  
.tablink:focus {
    background-color: rgb(21, 34, 51);    
}
.tabcontente > div {
    display:flex;
    justify-content: space-between;
    flex-flow :row;
}
.pjElt {
    background:none;
    border:none;
    color:white;
    width:100%;
    height:6vh;
    font-size:1em;
    padding:0.8em;
    text-align:left;
    box-shadow: inset 0 0 3px 0 #848d98;
}
.pjElt:focus{
    background-color:#848d98;
}
.tabcontente div p:focus {
    background-color:#848d98;
}
.tabcontente {
    display: none;
    width: 70vw;
    height: 60vh;
    
}
.contentPJ {
    width:25vw;
    height:50vh;
    background-color: #1B2A3D;
    margin:0;
    padding:0;
    overflow-y: auto;
}
.dragndrop {   
    width:45vw;
    background-color: #848d98;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 13px;
    
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 100px;
    background-color:#848d986c; 
}

/* ======================== JE SUIS UN FOOTER MIGNON ============================================= */

footer {
    width: auto;
    height: 12vh;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .liens-footer{
    width: 75%;
    display: flex;
    justify-content: left;
}

footer a {
    color: white;
    font-family: 'Rambla', sans-serif;
    margin-left: 10rem;
    padding: .3rem;
}

footer #logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    align-self: center;
    width: 50%;
}


