@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* font-family: 'Rambla', sans-serif; */


*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Rambla', sans-serif;
    overflow-x: hidden;
}



main, section{
    width: 100vw;
}
section, article{
    background-color: #44566C;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-flow: column;
    padding: 1em;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

/*  cette partie est resérvée pour les tabs*/

.tab {
    width: 70%;
    margin-top: 2em;
}

.tablinks {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.25em;
    width: 25%;
    height: 3em;
    color: white;
    background-color: rgb(21, 34, 51);
    margin: 0;
}

.tablinks:disabled{
      opacity: .3;
}



.tablinks.active {
    background-color: #44566C;
    /* text-decoration: underline; */
}

.tablinks:checked{
    background-color: #44566C;
}

  .tabcontent {
    display: none;
}



/*   fin tabs*/

/* ++++++++ Article 1  "introduction" qui contient les deux questions ++++++++++++++++++++++++++++++++++++++ */

#introduction{
    position: relative;
}

article p{
    font-size: 1.5em;
    color: white;
    /* margin-bottom: 1em; */
}

/* la div qui contient le texte de LOANELY*/
.intro{
    width: 70%;
    background: #1B2A3D;
    padding: 3em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.intro p{
    text-align: center;
    font-size: 1.25em;
}

/* des class des boutons 'annuler', 'démarrer' et 'etape suivante'*/
.btn{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
}

.btn button {
    width: 15em;
    height: 3em;
    font-size: 1.25em;
    background-color: #1B2A3D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border: none;
    
}

#poursuivre{
    width: 15em;
    height: 3em;
    font-size: 1.25em;
    background-color: white;
    color: #1B2A3D;
    cursor:pointer;
    border: none;  
}

/* deux id des deux div des boutons 'annuler' et 'étape suivante'*/
#btn2, #btnIntro1, #btnIntro2{
    display: none;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++ la première et la deuxième question du formulaire ++++++++++++++++++++++++++++++++++++++ */
.question{
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25em;
    color: white;
    margin-bottom: 1em;
    background-color: #1B2A3D;
    border: 1px solid white;
    box-sizing: border-box;
    /* display: none; */

}
.question > div{
    width: 40%;
    display: flex;
 }
 .question > div > div{

    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.question div p{
    text-align: center;
    font-size: 1em;
}

.question input{
    margin-top: 1em;
    width: 1.5em;
    height: 1.5em;
    cursor:pointer;
}

.question div label {
    font-size: 1em;
    cursor:pointer;
    margin: 1em;
}

.question{
    display: none;
}
/* #q1 div , #q2 div{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
    margin-left: 13em;
} */



/* la div qui contient un message dans le cas où la promesse de vente n'est pas signée */
#ventSign{
    width: 70%;
    height: 10em;
    padding: 1em;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1B2A3D;
    /* position: absolute;
    top: 22em; */
    display: none;
    /* background: black; */
}

#ventSign p{
    text-align: center;
    font-size: 1.25em;
}

/* bouton dans la div du message */
/* #poursuivre{
    width: 15em;
    height: 3em;
    font-size: 1.25em;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
} */

/* le formulaire de la société*/

#introduction form{
    display: none;
    border: 1px solid white;
    box-sizing: border-box;
    width: 70%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #1B2A3D;
}

#ouiImmat:checked #siret{
    opacity:1;
}




/* ++++++++ Article 2 --- ICI commence le formulaire à remplir ++++++++++++++++++++++++++++++++++++++ */

#emprunteur form{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid white;
    padding: 1em;
}



#divForm, #societe, #divForm .formClass, #divForm .infoPersonnel{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .1em;
}



/* #investImmeuble div, #investMaison div, #divForm #propr div, #divForm #mensualite div, 
#divForm #investImmeuble div, #divForm #investMaison div */

#divForm div, #societe div, #divForm .formClass div, #divForm .infoPersonnel div, #divForm{
    width: 45%;
    display: flex;
    flex-flow: column;
}

#divForm div div, #societe div div{
    display: flex;
    flex-flow: row;
    width: 95%;
}

#divForm div div div, #societe div div div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#divForm .formClass{
    display: none;
    margin-bottom: 1em;
    background-color: #1B2A3D;
    box-sizing: border-box;
}




label{
    color: #fff;
    font-size: 1.25em;
    margin-left: .5em;
}

input{
    background-color: #c4c4c485;
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1em;

    padding: 0.3em;
    color: #fff;
    font-size: 1.25em;
    box-sizing: border-box;
}

textarea{
    background-color: #c4c4c485;
    width: 100%;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1em;
    padding: 0.3em;
    color: #fff;
    font-size: 1.25em;
    box-sizing: border-box;  
}

select{
    background-color: #c4c4c485;
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 1em;
    padding: 0.3em;
    color: #fff;
    font-size: 1.25em;
    transition: .5s ease-in-out all;
}

select:hover{
    background: rgb(92, 79, 100);
}
input[type=date]{
    height: 2.5em;
}

option{
    background-color: #000000;
}

/*  les inputs de type 'radio'  */

#divForm .radioBtn{
    width: 100%;
    height: 3em;
    border:  1px solid white;
    margin-bottom: 1em;
    align-items: center;
    flex-flow: row;
    align-items: center;
    
}

#divForm .radioBtn div, #societe #immat div{
    width: 40%;
    flex-flow: row;
}

#divForm .radioBtn div div, #societe #immat div div{
    width: 40%;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

.radioBtn label, #appartLouer label{
    font-size: 1.25em;
    cursor:pointer;
    width: 60%;
}

.radioBtn input, #immat input, #appartLouer input{
    width: 1.5em;
    height: 1.5em;
    cursor:pointer; 
    margin: 0;       
} 

.radioBtn input:checked + label{
    font-weight: bolder;
}

/* #divForm #independant div, #divForm #public-prive div{
    display: flex;
    flex-flow: column;

} */

#hideBtn, #showBtn{
    /* width: 100%; */
    height: 2em;
    color: white;
    font-size: 1em;
}

#showBtn, #divForm #addLot, #divForm #unAutreBien{
    display: none;
}

#showHide, #lot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1B2A3D;
    margin-bottom: 1em;
}

/* ================)))))))))))))))))) TEST TEST TEST TEST )))))))))))))))çççççççççççççàààààààààààààààààààà */


/* #showHide, #divForm #typeProfession, #divForm #contrat, #divForm #proprietaire, 
#divForm #creditMensuelImm, #divForm #creditConsommation, #divForm #investLocatif, #divForm #investissement{
    display: none;
}

#divForm #precedentSuivant{
    border: 1px solid red;
    height: 5em;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
} */

/* ================)))))))))))))))))) TEST TEST TEST TEST )))))))))))))))çççççççççççççàààààààààààààààààààà */

h1{
    color: white;
    font-size: 3.75em;
    text-align: center;
}

h2{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}


/* ======================== PARTIE PROJET A FINANCER ARTICLE 3 =================================== */

#projet form{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid white;
    padding: 1em;
}


#projeFinancer .formClass, #projeFinancer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: .5em;
}


#projeFinancer div, #projeFinancer .formClass div{
    width: 45%;
    display: flex;
    flex-flow: column;
}

#projeFinancer div div, #projeFinancer .formClass div div{
    display: flex;
    flex-flow: row;
    width: 95%;
}

#projeFinancer .formClass {
    display: none;
    margin-bottom: 1em;
    background-color: #1B2A3D;
    box-sizing: border-box;
}

#projeFinancer .radioBtn {
    width: 100%;
    height: 3em;
    border:  1px solid white;
    margin-bottom: 1em;
    align-items: center;
    flex-flow: row;
    align-items: center;
    
}

#projeFinancer .radioBtn div{
    width: 40%;
    flex-flow: row;
}

#projeFinancer .radioBtn div div{
    width: 40%;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

#projeFinancer #addLot1, #projeFinancer #unAutreBien1{
    display: none;
}

#appartLouer label{
    font-size: 1.25em;
    cursor:pointer;
    width: 60%;
}

#appartLouer input{
    width: 1.5em;
    height: 1.5em;
    cursor:pointer; 
    margin: 0;       
} 


#projeFinancer #appartLouer div{
    width: 100%;
    justify-content: flex-end;
}

#projeFinancer #appartLouer div div{
    width: 20%;
}

.estimationLocative:nth-child(2){
    display: none;
}




/* ======================== FIN PARTIE PROJET A FINANCER ARTICLE 3 =============================== */
#piecejoint form{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid white;
    padding: 1em;
}

.blockJoint div{
    width: 48%;
    
}
/* ======================== PARTIE 4 PIECES JOINTES ==============================================*/

#tabs {
    width: 40vw;
    height: 30vh;
    margin: auto;
    display: flex;
    flex-flow: row;
    background-color: #44566C;
  }
  
  /* Style tab inks */
  .tablink {
    background-color: #848d98;
    margin: auto;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    cursor: pointer;
    width: 10vw;
    height: 20vh;
    font-family: "Rambla", sans-serif;
    font-size: 1.1rem;
  }
  
  .tablink img:nth-child(1) {
    width: 50%;
  }
  
  .tablink:nth-child(2) img {
    width: 70%;
  }
  
  .tablink:nth-child(3) img {
    width: 40%;
  }
  
  .tablink:hover {
    background-color: rgb(21, 34, 51);
  }
  
  .tablink:focus {
    background-color: rgb(21, 34, 51);
  }
  
  .tabcontente {
    display: none;
    width: 70vw;
    height: 60vh;
  }
  
  #situationPerso {
    background-color: #44566C;
  }
  #parcLoc {
    background-color: #44566C;
  }
  #projetFinancer {
    background-color: #44566C;
  }

  /* ================STYLING TABLES ===================== */
  
  #situationPerso, #parcLoc, #projetFinancer article {
    width: 70vw;
    overflow-y: auto;
    background-color: rgb(50, 61, 61);
    margin: auto;
  }
  
  table{
    margin: auto;
    width: 65vw;
    
  }
  .tbl-header{
    background-color: #17111998;
    table-layout: fixed; 
  }
  
  .tbl-content{
    height:50vh;
    overflow-x:auto;
  
  }
  
  #situationPerso article .tbl-header table thead tr {
    display: flex;
    justify-content: space-between;
  }
  
  
  #situationPerso article .tbl-content table tbody tr {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  
  }
  
  th{
    padding: 1rem 0rem;
    font-family: "Rambla";
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  
  td{
    padding: 1rem 0rem;
    text-align: center;
    vertical-align:middle;
    font-family: "Rambla";
    font-size: 1rem;
    color: #fff;
    
  }
  
  #situationPerso article .tbl-content table tbody tr td img{
    width: 35%;
    cursor: pointer;
  }
  
  
  /* ==============STYLING SCROLLBAR ======================= */
  
  
  ::-webkit-scrollbar {
      width: 13px;
      
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
      
      
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 100px;
  }


/* ======================== JE SUIS UN FOOTER MIGNON ============================================= */

footer {
    width: auto;
    height: 12vh;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .liens-footer{
    width: 75%;
    display: flex;
    justify-content: left;
}

footer a {
    color: white;
    font-family: 'Rambla', sans-serif;
    margin-left: 10rem;
    padding: .3rem;
}

footer #logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    align-self: center;
    width: 50%;
}


