@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');
*{
    padding:0;
    margin:0;
}
body{
	width: auto;
    height:100vh;
    font-family: 'Rambla', sans-serif;
    background-color: #44566C; 
    overflow-x: hidden;}


nav {background-color: white;
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    
   
    
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;  
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}
section{ width: 100vw}
.intro{
	text-align: center;
	color:white;
	font-weight: bold;
    font-size: 1.3em;
    margin-top: 1.5em;
    margin-left: 2.5em;
}
article{ margin-top: 0.5em;}
.firstp{ display:flex;
        flex-direction: row; 
        justify-content: left;
    	align-items: start;
        margin-left:3em;
        padding: 1.5em;}
        
.vide1{ margin-top: 5em;
        margin-left: 1em;}

.img1{ padding: 1.3em; 
       margin: 0.75em;
      
    }

h1{ color: white;
    font-size: 2.0em;
    font-weight: bold;
    width: 14em;
    height:1.4em;
    background: linear-gradient(to right, #312625, #2F435E);
    text-align: center;
    margin-bottom:.5em;
    border-radius:0.1em;    
}

.text1{
 color:white;
 font-size:1.1em;
 text-align: justify; }

h2{color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 11em;
    height:0.5em;
    text-align: center;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    
   
}
 /*partie2*/
 .firstp2{ 
     display:flex;
     flex-direction: row; 
     justify-content: left;
     align-items: start;
     margin-left:12em;
     padding: 1.5em;}
 .ques{
     margin-left: -3.3em;
 }
 .vide2{ margin-top: 5em;
         margin-left: -13em}
 .separation{
 	display:flex;
 	flex-direction: row;
 	justify-content: space-around;
     align-items: center;
     margin-bottom: 1.1em;
     margin-left: 1.1em;
 }
 .repartition{ 
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items:start;
    margin-left:5em;}
 .cercle{  
 	width: 7.5em;
    height:7.5em;
    border-radius: 50%;
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 1em;}
.casp1{ margin-left:-3.3em;}
.casp2{ margin-left:-1.8em;}
.casp3{ margin-left:-1.7em;}
.casp4{ margin-left:-1.5em;}

.img2{ 
    width: 2.5em;
    height:2.5em;
}
/*partie 3*/
.lettre{ text-transform: uppercase;}
.coupure{ 

	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
    margin-left: -1em;
 }
 .cas1{ 
     margin: 0.1em;
 	padding: 0.1em;
  }

  #star {
      margin: 2.5em;
      position: relative;
      display: block;
      color: #1B2A3D;
      width: 0px;
      height: 0px;
      border-right: 50px solid transparent;
      border-bottom: 35px solid #1B2A3D;
      border-left: 50px solid transparent;
      transform: rotate(35deg);
    }
    #star:before {
      border-bottom: 40px solid #1B2A3D;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -22.5px;
      left: -32.5px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
    #star:after {
      position: absolute;
      display: block;
      color: #1B2A3D;
      top: 1.5px;
      left: -52.5px;
      width: 0px;
      height: 0px;
      border-right: 50px solid transparent;
      border-bottom: 35px solid #1B2A3D;
      border-left: 50px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }
.sst{ 
    text-align: center;
    margin-top: 0.5em;
    margin-left: -3.5em;
}
 .carre1{ 
 	color:white;
 	width: 11em;
 	height:11em;
 	background: #1B2A3D;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
 	 }

  .carre2{ 
 	width: 11em;
 	height:11em;
 	background: #1B2A3D;
 	display: flex;
 	align-items: center;
    justify-content: space-around;
    color:white	
  }
   .carre3 { 
 	color:white;
 	width: 11em;
 	height:11em;
 	background: #1B2A3D;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
 }

   .carre4
   { 
 	color:white;
 	width: 11em;
 	height:11em;
 	background: #1B2A3D;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;	
  }
.esp{ padding-left: 20%;
      padding-right: 10%;
      font-size: medium; 
    }
          
.esp1{ padding-left: 20%;
       padding-right: 20%;
       font-size: medium;
     }
.esp2{ 
       padding-left: 30%;
       padding-right: 20%;
       font-size: medium;
    }


footer {
    width: auto;
    height: 13vh;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .liens-footer{
    width: 75%;
    display: flex;
    justify-content: left;
}

footer a {
    color: white;
    font-family: 'Rambla', sans-serif;
    margin-left: 8rem;
    padding: .3rem;
}

footer #logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    align-self: center;
    width: 50%;
}      