@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* font-family: 'Rambla', sans-serif; */


*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden; 
}


/* ++++++++ ICI JE SUIS UN NAVBAR ++++++++++++++++++++++++++++++++++++++ */

nav {
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    
   
    
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;  
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}

/* +++++++++++++++ICI JE FINI MON NAVBAR +++++++++++++++++++++++++++++++++++ */


/* ===================SECTION 1 ===================================== */


main section:nth-child(1){
    height: 90vh;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../assets/images/accueil/people.jpg) ;
    display: flex;
    justify-content: center;
}


main section:nth-child(1) article {
    width: 90vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
main section:nth-child(1) article .txt-photo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 30rem;
}
main section:nth-child(1) article .txt-photo #indice{
    height: 3.6rem;   
    
}

main section:nth-child(1) article .txt-photo h1 {
    font-family: 'Rambla', sans-serif;  
    font-size: 1.7rem;
    color: white;
    letter-spacing: .35rem;    
}

main section:nth-child(1) article .txt {
    width: 30rem;
    margin-top: 1rem;
}

main section:nth-child(1) article p{
    font-family: 'Rambla', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: justify;
    line-height: 1.5rem;
    font-kerning: auto;
}

main section:nth-child(1) article a {
    text-decoration: none;
    color: white;
    font-family: 'Rambla', sans-serif;  
    font-size: 1.3rem;
    padding: 1rem;
    width: 15rem;
    margin-top: 2rem;
    justify-content: center;
    background: linear-gradient(to left, rgb(49, 39, 55), rgb(47, 66, 92));  
}

main section:nth-child(1) article a:hover {
    background: linear-gradient(to left,  rgb(47, 66, 92), rgb(49, 39, 55));  
}

/* =========================section 2 ============================*/

section:nth-child(2){
    height: 100vh;
    display: flex;

}

section:nth-child(2) article:nth-child(1){
    background: url(../assets/images/accueil/desktop.jpg);
    background-size: cover;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.demarche-icon{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
    height: 100%;
}

.demarche-icon div{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
}

.demarche-icon div img{
    width: 10%;
}


.demarche-icon h3{
    color: white;
    font-size: 1.25em;
    font-family: 'Rambla', sans-serif;
}


section:nth-child(2) article:nth-child(2){
    background-image: linear-gradient(to bottom left, #44566C,#312635);
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(2) article:nth-child(2) p{
    padding: 4em;
    color: white;
    font-size: 1.25em;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}

section:nth-child(2) article:nth-child(2) h2{
    color: white;
    font-size: 3em;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}

section:nth-child(2) article:nth-child(2) :nth-child(3){
    width: 50%;
    height: 3em;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .3em;
    font-family: 'Rambla', sans-serif;
    background-image:linear-gradient(to left, rgb(49,39,55),rgb(47,66,92)) ;
    text-decoration: none;
    justify-content: center;
    
}

section:nth-child(2) article:nth-child(2) :nth-child(5){
    width: 40%;
    height: 2.5em;
    color: white;
    font-size: 1.25em;
    font-family: 'Rambla', sans-serif;
    background-image:linear-gradient(to left, rgb(49,39,55),rgb(47,66,92)) ;
    justify-content: center;
    letter-spacing: .05em;
}



/* ==================================section 3============================================*/

section:nth-child(3){
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

section:nth-child(3) article{
    height: 100%;
    width: 33vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    transition: .7s ease-in-out all;
}

section:nth-child(3) article:nth-child(1){
    background: url(../assets/images/accueil/quoi.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;

    
}

section:nth-child(3) article:nth-child(2){
    background: url(../assets/images/accueil/pourquoi.jpg);
    background-size: cover;
    position: absolute;
    left: 33%;
    top: 0;
}

section:nth-child(3) article:nth-child(3){
    background: url(../assets/images/accueil/comment.jpg);
    background-size: cover;
    position: absolute;
    left: 66%;
    top: 0;
    
}

section:nth-child(3) article:nth-child(4){
    background: url(../assets/images/accueil/photo\ right.jpg);
    background-size: cover;
    position: absolute;
    left: 99%;
    top: 0;
   
}

section:nth-child(3) article p{
    padding: 2em;
    color: white;
    font-size: 1.25em;
    font-family: 'Rambla', sans-serif;
    text-align: justify;
}

section:nth-child(3) article a img{
    width: 1.5em;
}

section:nth-child(3) article a{
    color: white;
    font-family: 'Rambla', sans-serif;
    font-size: 1.25em;
    margin-left: 7em;
}

section:nth-child(3) article img{
    width: 50%;
}

#btn-left {
    width: 1em;
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    font-size: 5em;
    visibility: hidden;
    cursor: pointer;
    text-align: center;
}

#btn-right {
    width: 1em;
    position: absolute;
    top: 50%;
    left: 95%;
    color: white;
    font-size: 5em;
    cursor: pointer;
    text-align: center;
}


/* ================================== section 4 ============================================= */

section:nth-child(4) {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

/* =============================article 1 ========================= */


section:nth-child(4) article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(4) article:nth-child(1){
    background: #4B5E65;
}
section:nth-child(4) article:nth-child(1) .stat-txt {
    width: 100%;
    height: 30%;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
section:nth-child(4) article:nth-child(1) .stat-txt p {
    font-family: 'Rambla', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

section:nth-child(4) article:nth-child(1) .stat-nums {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

section:nth-child(4) article:nth-child(1) .stat-nums h3 {
    color: white;
    font-family: 'Rambla', sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-align: center;
}

/* =============================article 2 ========================= */

section:nth-child(4) article:nth-child(2) {
    background: rgba(75, 94, 101, 0.5);
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}

section:nth-child(4) article:nth-child(2) h3 {
    font-family: 'Rambla', sans-serif;
    color: white;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-align: center;
}

section:nth-child(4) article:nth-child(2) .logo-banque {
    display: flex;
    flex-flow: row;
   
}


/* ======================== JE SUIS UN FOOTER MIGNON ============================================= */

footer {
    width: auto;
    height: 9.5rem;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .liens-footer{
    width: 75%;
    display: flex;
    justify-content: left;
}

footer a {
    color: white;
    font-family: 'Rambla', sans-serif;
    margin-left: 10rem;
    padding: .3rem;
}

footer #logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    align-self: center;
    width: 50%;
}

