@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* font-family: 'Rambla', sans-serif; */


*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
}


/* ++++++++ ICI JE SUIS UN NAVBAR ++++++++++++++++++++++++++++++++++++++ */

nav {
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    
    
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    
   
    
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;
    
   
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}

/* +++++++++++++++ICI JE FINI MON NAVBAR +++++++++++++++++++++++++++++++++++ */


/* ===================SECTION 1 ===================================== */


main section:nth-child(1){
    height: 90vh;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../assets/images/accueil/people.jpg) ;
    display: flex;
    justify-content: center;
}


main section:nth-child(1) article {
    width: 90vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
main section:nth-child(1) article .txt-photo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 30rem;
}
main section:nth-child(1) article .txt-photo #indice{
    height: 3.6rem;   
    
}

main section:nth-child(1) article .txt-photo h1 {
    font-family: 'Rambla', sans-serif;  
    font-size: 1.7rem;
    color: white;
    letter-spacing: .35rem;
    
}

main section:nth-child(1) article .txt {
    width: 30rem;
    margin-top: 1rem;
}

main section:nth-child(1) article p{
    font-family: 'Rambla', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: justify;
    line-height: 1.5rem;
}

main section:nth-child(1) article a {
    text-decoration: none;
    font-family: 'Rambla', sans-serif;  
    font-size: 1.3rem;
    padding: 1rem;
    width: 15rem;
    margin-top: 2rem;
    background: linear-gradient(rgb(49, 39, 55), rgb(47, 66, 92));
    justify-content: center;
}