@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* font-family: 'Rambla', sans-serif; */


*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
}


/* ++++++++ ICI JE SUIS UN NAVBAR ++++++++++++++++++++++++++++++++++++++ */

nav {
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    
    
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    
   
    
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;
    
   
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}

/* +++++++++++++++ICI JE FINI MON NAVBAR +++++++++++++++++++++++++++++++++++ */


/* ===================SECTION 1 ===================================== */


main section:nth-child(1){
    height: 90vh;
    position: relative;
    background: url(../assets/images/accueil/people.jpg) ;
}

main section:nth-child(1) .txt-photo {
    
}