
@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* font-family: 'Rambla', sans-serif; */


*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
}


/* ++++++++ ICI JE SUIS UN NAVBAR ++++++++++++++++++++++++++++++++++++++ */

nav {
    position: relative;
    width: 100vw;
    height: 12vh;
    /* background-color: rgb(128, 128, 128); */
    display: flex;
    flex-flow: row;
    align-items: center;
    
    
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    
   
    
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;
    
   
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;
   
 
   
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}


/* **********************MAIN********************** */
aside{
    background-image: url(../assets/images/inscription/Rectangle\ 45.jpg);
    background-size: cover;
    height: 85vh;
    width: 45vw;
}

p{
    color: #fff;
    font-size: 1.5em;
    font-family: 'Rambla';
    font-style: normal;
  
}
input{
    background-color: rgba(196, 196, 196, 0.521);
    width: 25em;
    height: 3em;
    border: none;
    border-radius: 0.3em;
    margin-top: 1.5em;
    
}
form p{
    margin-top: 2em;
}


main{
    margin: 0;
    padding: 0;
    height: 85vh;
    width: auto;
    background-color: #44566C;
    display: flex;
}
section{
    margin: auto;
   
}
.parti2{
    margin-left: 2em;
}


.nometprenom, .mdp, .emailettel, .conf{
    display: flex;  
    margin-left: 2vw;
}

.conf p{
    margin: 1em;
    font-size: 0.9em;
}
.check{
    width: 2em;
    height: 2em;
    margin: 1em;
    border: none;
    border-radius: 1em;
}
article:nth-child(5) div a{
    font-size: 1.6em;
    color: white;
   margin-left: 2.5em;
   margin-right:2em ;
   margin-top: 0.3em;
   

} 
article:nth-child(5){
    display: flex;
    justify-content: center;
   
}
article:nth-child(5) div{
    margin: 1.5em;
    background-color: #1B2A3D;
    width: 14em;
    height: 3em;
    border: none;
    
    border:solid 0.1em #1B2A3D ;
    
}

@font-face {
    font-family: 'Rambla';
    font-style: normal;
    font-weight: 400;
    src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.gstatic.com/s/rambla/v7/snfrs0ip98hx6mrEKrgPBtg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }