@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');
/* font-family: 'Rambla', sans-serif; */


html, body, main{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Rambla', sans-serif;;
}

#idclient{
    width: 100%;
    height: 5vh;
    background-color: #848D98;
    display: flex;
    justify-content: space-between;
    color: white;
}

#icons{
    height: 200px;
    width: 100%;
    background-color: #44566C;
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
}

.btntbl{
    width: 10em;
    height: 10em;
    background-color: #312635;
    display: flex;
}
.btnnvodos{
    width: 10em;
    height: 10em;
    background-color: #848D98;
}
.btndos{
    width: 10em;
    height: 10em;
    background-color: #848D98;
}
.btninfos{
    width: 10em;
    height: 10em;
    background-color: #848D98;
}
.btnaide{
    width: 10em;
    height: 10em;
    background-color: #848D98;
}
