@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');
/* font-family: 'Rambla', sans-serif; */

*{
    padding: 0;
    margin: 0;
}
html, body, main{
    width:100vw;
    height:100vh;
    font-family: 'Rambla', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #44566C;
}
nav {
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: white;
    
    
}

nav #logo {
    width: 50%;
}

nav img {
    width: 15em;
    margin-left: 3em;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 3em;
}

ul {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    
   
    
}
li {
    font-family: 'Rambla', sans-serif;
    color: #2F435E;
    list-style: none;
    
   
}

a {
    text-decoration: none;
    color: #2F435E;
    display: flex;
    align-items: center;
   
 
   
}

ul li a img {
    width: 1rem;
    padding-right: .5em;
}

/* +++++++++++++++ICI JE FINI MON NAVBAR +++++++++++++++++++++++++++++++++++ */
/* ======================== JE SUIS UN FOOTER MIGNON ============================================= */

footer {
    width: auto;
    height: 13vh;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .liens-footer{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: white;
    font-size: .9rem;
    font-family: 'Rambla', sans-serif;
    margin-left: 10rem;
    padding: .3rem;
}

footer #logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    align-self: center;
    width: 50%;
}
#idclient{
    width: 100vw;
    height: 5vh;
    background-color: #848D98;
    display: flex;
    color: white;
        
}

#idclient, p{
    align-items: center;
    justify-content: space-between;
    
    
    
}
.name{
    padding-left: 2vw;
}
.numeroclient{
    padding-right: 2vw;
}

#icons{
    height: 20vh;
    width: 90vw;
    background-color: #44566C;
    display: flex;
    padding-top: 5vh;
    color: white;
    justify-content: center;
    margin: auto;
        
    
}

#icons p{
    margin-top: 10px;
}

.btntbl{
    width: 10em;
    height: 10em;
    background-color: #312635;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.btnnvodos{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    
}


.btndos{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}
.btninfos{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}
.btnaide{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}



#icons img{
    margin: auto;
}

h2{
   margin: 0 auto 0 0;

    font-size: 3rem;
    letter-spacing: .5rem;
    background-color: #44566C;
    color: white;
    padding-left: 15%;
    
    
}

#bloc{
    height: auto;
    width: 100vw;
    background-color: #44566C;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 2%;
    
}

#bloc article{
    background-color: #848D98;
    width: 90%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
        
}
article{
    position: relative;
}
.titreprojet{
    background: #C4C4C4;
    width: 90%;
    
}
.titreprojet p{
    display: flex;
    
}
.titreprojet a{
    margin-right: 2vw;
    margin-top: 0.4vw;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    
}


#projet2, #projet3{
    width: 90%;
    height: 18em;
    margin-top: 8vh;
    
}



table tr td p{
    font-weight: bold;
    font-size: 1.875em;
    text-align: left;
    margin-left: 2vw;
    font-style: italic;
}

table :nth-child(1) td{
    color: white;
}

table :nth-child(2) td img{
    margin-left: 0.5vw;
}

table :nth-child(4) td{
    font-size: 1.6em;
}
table :nth-child(3) td{
    font-size: 1.6em;
}

table { 
    border-collapse: collapse;
    text-align: center;
}


#rank {
    font-size: 2.5em;
    padding-left: 2vh;
}


/*---CSS PAGE PROFIL---*/

#bloc2{
    height: auto;
    width: 100vw;
    background-color: #44566C;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 2%;
        
}

#icons2{
    height: 20vh;
    width: 90vw;
    background-color: #44566C;
    display: flex;
    padding-top: 5vh;
    color: white;
    justify-content: center;
    margin: auto;
        
    
}

#icons2 p{
    margin-top: 10px;
}

.btntbl2{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.btnnvodos2{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    
}


.btndos2{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}
.btninfos2{
    width: 10em;
    height: 10em;
    background-color: #312635;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}
.btnaide2{
    width: 10em;
    height: 10em;
    background-color: #848D98;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}



#icons2 img{
    margin: auto;
}

#containerinfo{
    background-color: #9EA0A2;
    width: 90%;
    margin-top: 8vh;

}

.titreinfo{
    background-color: #C4C4C4;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.titreinfo p{
    font-weight: bold;
    font-size: 1.875em;
    text-align: left;
    margin-left: 2vw;
    font-style: italic;
}

.infosperso{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.modif{
    display: flex;
    align-items: flex-end;
    margin-bottom: 7vh;
    
}
.modif a{
    background-color: rgb(228, 228, 228);
    padding: 2vh;
    color: black;
}
.coordonnées{
    margin: 5vh;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.infosperso img{
    margin: 5vh;
}

.photoprofil{
    position: relative;
}

#iconadd{
    position: absolute;
    left: 60%;
    top: 67%;
    
}
#containerdossier{
    background-color: #9EA0A2;
    width: 90%;
    margin-top: 8vh;

}

.titredossier{
    background-color: #C4C4C4;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.titredossier p{
    font-weight: bold;
    font-size: 1.875em;
    text-align: left;
    margin-left: 2vw;
    font-style: italic;
}


.dossier{
    margin: 5vh;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#containerjustificatifs{
    background-color: #9EA0A2;
    width: 90%;
    margin-top: 8vh;
    

}

.titrejustificatifs{
    background-color: #C4C4C4;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.titrejustificatifs p{
    font-weight: bold;
    font-size: 1.875em;
    text-align: left;
    margin-left: 2vw;
    font-style: italic;
    
}

.justificatifs{
    width: 90%;
    margin: auto;
    

}

.justif1{
    width: 100%;
    background-color: rgb(228, 228, 228);
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.justif2{
    width: 100%;
    background-color: rgb(228, 228, 228);
    height: 50px;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justif3{
    width: 100%;
    background-color: rgb(228, 228, 228);
    height: 50px;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justif4{
    width: 100%;
    background-color: rgb(228, 228, 228);
    height: 50px;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justif5{
    width: 100%;
    background-color: rgb(228, 228, 228);
    height: 50px;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justif6{
    width: 50%;
    background-color: rgb(228, 228, 228);
    height: 50px;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}
.justif1 p{
    margin-left: 2vh;
}
.justif2 p{
    margin-left: 2vh;
}
.justif3 p{
    margin-left: 2vh;
}
.justif4 p{
    margin-left: 2vh;
}
.justif5 p{
    margin-left: 2vh;
}
.justif6 p{
    margin-left: 2vh;
}
.justif1 img{
    margin-right: 2vh;
}
.justif2 img{
    margin-right: 2vh;
}
.justif3 img{
    margin-right: 2vh;
}
.justif4 img{
    margin-right: 2vh;
}
.justif5 img{
    margin-right: 2vh;
}
.justif6 img{
    margin-right: 2vh;
}
